@tailwind utilities;
@import "tailwindcss";

body {
  background-color: #1e1f22;
  font-family: "Oxanium", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
p{
  margin: 0;
}

@layer utilities {
  .second-heading {
    letter-spacing: -0.025em;
    background: linear-gradient(0deg, #888, #fff 75%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
  }
  .second-heading.second-heading__custom span{
    font-weight: 700;
  }
  .listing-pitch li{
    font-size: 18px;
    padding-bottom: 10px;
  }
  .listing-pitch li span{
    font-weight: 700;
  }
  .active::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .banner{
    background-image: linear-gradient(90deg,rgba(72,85,181,.81),rgba(141,56,87,.93)), url("../common/assets/king.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 79vh;
  }
  .banner2{
    background-image: linear-gradient(90deg,rgba(72,85,181,.81),rgba(141,56,87,.93)), url("../common/assets/ca9.PNG");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 79vh;
  }
  .banner3{
    background-image: linear-gradient(90deg,rgba(72,85,181,.81),rgba(141,56,87,.93)), url("../common/assets/god3.PNG");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 79vh;
  }
  @media screen and (max-width:767px){
    .banner,
    .banner2,
    .banner3{
      height: 50vh;
    }
  }
  .container{
    @apply mx-auto max-w-[1300px] px-[14px]
  }
  .button-gradient{
    background: linear-gradient(90deg,rgba(72,85,181,.81),rgba(141,56,87,.93));
  }

  @keyframes bounceDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
  
  .animate-bounce-down {
    animation: bounceDown 1s infinite;
  }

  .list-disc__last{
    letter-spacing: -0.025em;
    background: linear-gradient(0deg, #888, #fff 75%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
  }
}
