@tailwind utilities;
@import "tailwindcss";

body {
  background-color: #1e1f22;
  font-family: "Oxanium", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
p{
  margin: 0;
}

@layer utilities {
  .second-heading {
    letter-spacing: -0.025em;
    background: linear-gradient(0deg, #888, #fff 75%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
  }
  .banner{
    background-image: linear-gradient(90deg,rgba(72,85,181,.81),rgba(141,56,87,.93)), url("../common/assets/king.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .container{
    @apply mx-auto max-w-[1300px] px-[14px]
  }
  .button-gradient{
    background: linear-gradient(90deg,rgba(72,85,181,.81),rgba(141,56,87,.93));
  }

  @keyframes bounceDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
  
  .animate-bounce-down {
    animation: bounceDown 1s infinite;
  }

  .list-disc__last{
    letter-spacing: -0.025em;
    background: linear-gradient(0deg, #888, #fff 75%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.3;
  }
}
